__pycache__/
__pycache__\

**/__pycache__/
**\__pycache__\

controllers/__pycache__/
controllers\__pycache__\

models/__pycache__/
models\__pycache__\

services/__pycache__/
services\__pycache__\

visuals/__pycache__/
visuals\__pycache__\